### UCF File for Digilent Nexys2 FPGA Board (500Kgate version) ###
### Created by Nexys2 UCF Generator on 3 Mar 2011 at 00:23

### Nexys2 Clock Oscillator:
NET clk50 LOC=B8;  # CLK - 50MHz oscillator

### Nexys2 Pushbutton Switches:
NET reset LOC=H13;  # BTN3 (active high)
CONFIG PROHIBIT=E18;
CONFIG PROHIBIT=D18;
CONFIG PROHIBIT=B18;


CONFIG PROHIBIT=R17;
CONFIG PROHIBIT=N17;
CONFIG PROHIBIT=L13;
CONFIG PROHIBIT=L14;
CONFIG PROHIBIT=K17;
CONFIG PROHIBIT=K18;
CONFIG PROHIBIT=H18;
CONFIG PROHIBIT=G18;




CONFIG PROHIBIT=R4;
CONFIG PROHIBIT=F4;
CONFIG PROHIBIT=P15;
CONFIG PROHIBIT=E17;
CONFIG PROHIBIT=K14;
CONFIG PROHIBIT=K15;
CONFIG PROHIBIT=J15;
CONFIG PROHIBIT=J14;



CONFIG PROHIBIT=F15;
CONFIG PROHIBIT=C18;
CONFIG PROHIBIT=H17;
CONFIG PROHIBIT=F17;


CONFIG PROHIBIT=L18;
CONFIG PROHIBIT=F18;
CONFIG PROHIBIT=D17;
CONFIG PROHIBIT=D16;
CONFIG PROHIBIT=G14;
CONFIG PROHIBIT=J17;
CONFIG PROHIBIT=H14;
CONFIG PROHIBIT=C17;




CONFIG PROHIBIT=U6;
CONFIG PROHIBIT=P9;


CONFIG PROHIBIT=R12;
CONFIG PROHIBIT=P11;

### Nexys2 VGA Port:
NET red LOC=R8;  # RED2 (active high)
NET red LOC=T8;  # RED1 (active high)
NET red LOC=R9;  # RED0 (active high)
NET green LOC=P6;  # GREEN2 (active high)
NET green LOC=P8;  # GREEN1 (active high)
NET green LOC=N8;  # GREEN0 (active high)
NET blue LOC=U4;  # BLUE2 (active high)
NET blue LOC=U5;  # BLUE1 (active high)
NET hSync LOC=T4;  # Horizontal sync (active high)
NET vSync LOC=U3;  # Vertical sync (active high)



CONFIG PROHIBIT=L15;
CONFIG PROHIBIT=K12;
CONFIG PROHIBIT=L17;
CONFIG PROHIBIT=M15;
CONFIG PROHIBIT=K13;
CONFIG PROHIBIT=L16;
CONFIG PROHIBIT=M14;
CONFIG PROHIBIT=M16;


CONFIG PROHIBIT=M13;
CONFIG PROHIBIT=R18;
CONFIG PROHIBIT=R15;
CONFIG PROHIBIT=T17;
CONFIG PROHIBIT=P17;
CONFIG PROHIBIT=R16;
CONFIG PROHIBIT=T18;
CONFIG PROHIBIT=U18;


CONFIG PROHIBIT=G15;
CONFIG PROHIBIT=J16;
CONFIG PROHIBIT=G13;
CONFIG PROHIBIT=H16;
CONFIG PROHIBIT=H15;
CONFIG PROHIBIT=F14;
CONFIG PROHIBIT=G16;
CONFIG PROHIBIT=J12;


CONFIG PROHIBIT=J13;
CONFIG PROHIBIT=M18;
CONFIG PROHIBIT=N18;
CONFIG PROHIBIT=P18;




CONFIG PROHIBIT=J4;
CONFIG PROHIBIT=H5;
CONFIG PROHIBIT=K4;
CONFIG PROHIBIT=K5;
CONFIG PROHIBIT=R6;
CONFIG PROHIBIT=P7;
CONFIG PROHIBIT=F5;


CONFIG PROHIBIT=R5;
CONFIG PROHIBIT=T5;
CONFIG PROHIBIT=D3;


CONFIG PROHIBIT=T2;
CONFIG PROHIBIT=N7;


CONFIG PROHIBIT=K6;
CONFIG PROHIBIT=D1;
CONFIG PROHIBIT=K3;
CONFIG PROHIBIT=D2;
CONFIG PROHIBIT=C1;
CONFIG PROHIBIT=C2;
CONFIG PROHIBIT=E2;
CONFIG PROHIBIT=M5;
CONFIG PROHIBIT=E1;
CONFIG PROHIBIT=F2;
CONFIG PROHIBIT=G4;
CONFIG PROHIBIT=G5;
CONFIG PROHIBIT=G6;
CONFIG PROHIBIT=G3;
CONFIG PROHIBIT=F1;
CONFIG PROHIBIT=H6;
CONFIG PROHIBIT=H3;
CONFIG PROHIBIT=J5;
CONFIG PROHIBIT=H2;
CONFIG PROHIBIT=H1;
CONFIG PROHIBIT=H4;
CONFIG PROHIBIT=J2;
CONFIG PROHIBIT=J1;


CONFIG PROHIBIT=T1;
CONFIG PROHIBIT=R3;
CONFIG PROHIBIT=N4;
CONFIG PROHIBIT=L2;
CONFIG PROHIBIT=M6;
CONFIG PROHIBIT=M3;
CONFIG PROHIBIT=L5;
CONFIG PROHIBIT=L3;
CONFIG PROHIBIT=R2;
CONFIG PROHIBIT=P2;
CONFIG PROHIBIT=P1;
CONFIG PROHIBIT=N5;
CONFIG PROHIBIT=M4;
CONFIG PROHIBIT=L6;
CONFIG PROHIBIT=L4;
CONFIG PROHIBIT=L1;
