//! **************************************************************************
// Written by: Map M.63c on Thu Mar 03 00:27:06 2011
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "E18";
PROHIBIT = SITE "D18";
PROHIBIT = SITE "B18";
PROHIBIT = SITE "R17";
PROHIBIT = SITE "N17";
PROHIBIT = SITE "L13";
PROHIBIT = SITE "L14";
PROHIBIT = SITE "K17";
PROHIBIT = SITE "K18";
PROHIBIT = SITE "H18";
PROHIBIT = SITE "G18";
PROHIBIT = SITE "R4";
PROHIBIT = SITE "F4";
PROHIBIT = SITE "P15";
PROHIBIT = SITE "E17";
PROHIBIT = SITE "K14";
PROHIBIT = SITE "K15";
PROHIBIT = SITE "J15";
PROHIBIT = SITE "J14";
PROHIBIT = SITE "F15";
PROHIBIT = SITE "C18";
PROHIBIT = SITE "H17";
PROHIBIT = SITE "F17";
PROHIBIT = SITE "L18";
PROHIBIT = SITE "F18";
PROHIBIT = SITE "D17";
PROHIBIT = SITE "D16";
PROHIBIT = SITE "G14";
PROHIBIT = SITE "J17";
PROHIBIT = SITE "H14";
PROHIBIT = SITE "C17";
PROHIBIT = SITE "U6";
PROHIBIT = SITE "P9";
PROHIBIT = SITE "R12";
PROHIBIT = SITE "P11";
PROHIBIT = SITE "L15";
PROHIBIT = SITE "K12";
PROHIBIT = SITE "L17";
PROHIBIT = SITE "M15";
PROHIBIT = SITE "K13";
PROHIBIT = SITE "L16";
PROHIBIT = SITE "M14";
PROHIBIT = SITE "M16";
PROHIBIT = SITE "M13";
PROHIBIT = SITE "R18";
PROHIBIT = SITE "R15";
PROHIBIT = SITE "T17";
PROHIBIT = SITE "P17";
PROHIBIT = SITE "R16";
PROHIBIT = SITE "T18";
PROHIBIT = SITE "U18";
PROHIBIT = SITE "G15";
PROHIBIT = SITE "J16";
PROHIBIT = SITE "G13";
PROHIBIT = SITE "H16";
PROHIBIT = SITE "H15";
PROHIBIT = SITE "F14";
PROHIBIT = SITE "G16";
PROHIBIT = SITE "J12";
PROHIBIT = SITE "J13";
PROHIBIT = SITE "M18";
PROHIBIT = SITE "N18";
PROHIBIT = SITE "P18";
PROHIBIT = SITE "J4";
PROHIBIT = SITE "H5";
PROHIBIT = SITE "K4";
PROHIBIT = SITE "K5";
PROHIBIT = SITE "R6";
PROHIBIT = SITE "P7";
PROHIBIT = SITE "F5";
PROHIBIT = SITE "R5";
PROHIBIT = SITE "T5";
PROHIBIT = SITE "D3";
PROHIBIT = SITE "T2";
PROHIBIT = SITE "N7";
PROHIBIT = SITE "K6";
PROHIBIT = SITE "D1";
PROHIBIT = SITE "K3";
PROHIBIT = SITE "D2";
PROHIBIT = SITE "C1";
PROHIBIT = SITE "C2";
PROHIBIT = SITE "E2";
PROHIBIT = SITE "M5";
PROHIBIT = SITE "E1";
PROHIBIT = SITE "F2";
PROHIBIT = SITE "G4";
PROHIBIT = SITE "G5";
PROHIBIT = SITE "G6";
PROHIBIT = SITE "G3";
PROHIBIT = SITE "F1";
PROHIBIT = SITE "H6";
PROHIBIT = SITE "H3";
PROHIBIT = SITE "J5";
PROHIBIT = SITE "H2";
PROHIBIT = SITE "H1";
PROHIBIT = SITE "H4";
PROHIBIT = SITE "J2";
PROHIBIT = SITE "J1";
PROHIBIT = SITE "T1";
PROHIBIT = SITE "R3";
PROHIBIT = SITE "N4";
PROHIBIT = SITE "L2";
PROHIBIT = SITE "M6";
PROHIBIT = SITE "M3";
PROHIBIT = SITE "L5";
PROHIBIT = SITE "L3";
PROHIBIT = SITE "R2";
PROHIBIT = SITE "P2";
PROHIBIT = SITE "P1";
PROHIBIT = SITE "N5";
PROHIBIT = SITE "M4";
PROHIBIT = SITE "L6";
PROHIBIT = SITE "L4";
PROHIBIT = SITE "L1";
COMP "hSync" LOCATE = SITE "T4" LEVEL 1;
COMP "clk50" LOCATE = SITE "B8" LEVEL 1;
COMP "vSync" LOCATE = SITE "U3" LEVEL 1;
COMP "blue" LOCATE = SITE "U5" LEVEL 1;
COMP "green" LOCATE = SITE "N8" LEVEL 1;
COMP "red" LOCATE = SITE "R9" LEVEL 1;
COMP "reset" LOCATE = SITE "H13" LEVEL 1;
NET "clk50_BUFGP/IBUFG" BEL "clk50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

